@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Cinzel Decorative", cursive;
  font-size: 2rem;
  height: 100vh;
  color: #222;
  background-color: #c1d1db;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112rem;
  gap: 4rem;
  padding: 6rem 0;
  border: 2px solid #222;
  outline: 2px solid #222;
  outline-offset: 1.2rem;
}

h1 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}

h2 {
  text-align: center;
  margin-bottom: 2.4rem;
}

input {
  font-family: inherit;
  color: inherit;
  font-size: 2rem;
  background-color: #dbe5eb;
  padding: 1.6rem 3.2rem;
  border: none;
  width: 32rem;
}

input:focus {
  outline: 2px solid #222;
}

.weather {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.day {
  background-color: #dbe5eb;
  padding: 1.6rem 0 2rem;
  width: 12.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  cursor: pointer;
}

.day span {
  font-size: 5.2rem;
}

.day.important {
  background-color: #dbe5eb;
  outline: 2px solid #222;
}

.loader {
  font-size: 2.4rem;
  font-weight: 700;
}

/************************************************/
@media (max-width: 1200px) {
  body {
    font-size: 1.6rem;
  }

  .app {
    width: 86rem;
  }

  .day {
    width: 9.6rem;
  }
}

/**************************/

@media (max-width: 950px) {
  body {
    font-size: 1.4rem;
  }

  .app {
    width: 72rem;
  }

  h1 {
    font-size: 5rem;
  }

  input {
    font-size: 1.6rem;
    width: 27rem;
  }

  .day {
    width: 7.5rem;
  }
}

/**************************/
@media (max-width: 780px) {
  h1 {
    font-size: 3.6rem;
  }

  body {
    font-size: 1rem;
  }

  input {
    width: 22rem;
    padding: 1.2rem 2.4rem;
  }

  input::placeholder {
    font-size: 1.4rem;
  }

  .app {
    max-width: 60.4rem;
    padding: 4rem 2rem;
  }

  .weather {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1.2rem;
  }

  .day {
    width: 100%;
    padding: 1.2rem;
    font-size: 1.4rem;
  }

  .day span {
    font-size: 4rem;
  }

  .day:nth-child(7) {
    display: none;
  }
}

/**************************/
@media (max-width: 660px) {
  h1 {
    font-size: 2.4rem;
  }

  input {
    width: 18rem;
    padding: 1rem 2rem;
    font-size: 1.4rem;
  }

  .app {
    width: 400px;
    padding: 3rem 0;
  }

  .weather {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 300px;
  }

  .day {
    width: auto;
    padding: 1rem;
    font-size: 1.2rem;
  }

  .day span {
    font-size: 3.2rem;
  }
}

/**************************/
@media (max-width: 450px) {
  h1 {
    font-size: 2.4rem;
  }

  input {
    width: 16rem;
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
  }

  .app {
    width: 300px;
    /* padding: 2rem 1rem; */
  }

  .weather {
    grid-template-columns: repeat(3, 1fr);
    width: 220px;
  }

  .day {
    width: auto;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .day span {
    font-size: 2.8rem;
  }
}

/**************************/
@media (max-width: 360px) {
  h1 {
    font-size: 2rem;
  }

  input {
    width: 14rem;
    padding: 0.6rem 1.2rem;
    font-size: 1rem;
  }

  .app {
    width: 100%;
    padding: 1.5rem 0.8rem;
  }

  .day {
    width: auto;
    padding: 0.6rem;
    font-size: 0.8rem;
  }

  .day span {
    font-size: 2.4rem;
  }
}
